body
{
    background-color: #000;
}
a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
/********************           ************
********************  start navbar***********/

.b-white {
    background: transparent !important;
    transition: 1.5s ease-in;
  }
  
  .b-white.scrolled {
    background: black !important;
  }
.secondary-navigation {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
    position: absolute;
    right: 4%;
    top: 0;
}
.notifications .notification-pill {
    font-size: .5em;
    line-height: 1;
    position: absolute;
    right: -0.1em;
    top: -0.25em;
    z-index: 2;
}
.notification-pill {
    background-color: #b9090b;
    border: none;
    border-radius: 1000px;
    color: #fff;
    display: inline-block;
    font-size: .75em;
    font-weight: 500;
    line-height: 1;
    min-width: 1em;
    padding: 0.3em;
    text-align: center;
}
#searchinput input
{
    color: #fff;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.5);
	outline: none;
	border-radius: 4px;
	padding: 0 10px 0 45px;
	backdrop-filter:blur(10px);
}
.searchTab {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    color: #fff;
}
.notifications .notifications-menu {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    line-height: 1;
    margin-top: 0.2em;
    padding: 2px 6px 3px;
    position: relative;
    color: #fff;
}
.account-dropdown-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    width: 100%;
    color: #fff;
}
.secondary-navigation .nav-element:not(:last-child) {
    margin-right: 15px;
}
.navbar-toggler button:active,.navbar-toggler button:focus
{
    
   outline: none;
   border: none;
}
@media (min-width: 414px) { 
    .searchBox
    {
        display: none;
    }
    .navbar-toggler{
 margin-right: auto;

    }
}
@media (min-width: 703px){
    .searchBox
    {
        display: block;
    }
}
/********************           ************
********************  end navbar***********/


/********************           ************
********************  start top home***********/
.top {
    width: 100%;
    min-height: 250px;
    display: flex;
    height: 100%;
    align-items: center;
    background-image: url("images/inter");
    background-repeat: no-repeat;
    background-size: cover;
}

.top .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgb(20, 20, 20);
    background: linear-gradient(
        0deg,
        rgba(20, 20, 20, 1) 0%,
        rgba(255, 255, 255, 0) 36%
    );
    padding-top: 166px;
    padding-bottom: 90px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.top .left-side {
    width: 40%;
    height: 80%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top h1 {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 95px;
    color: white;
    text-shadow: 5px 5px 10px black;
}

.top p {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 1px black;
    padding: 25px 0px;
}

.top h3 {
    display: flex;
    align-items: center;
}

.button-section {
    width: 100%;
    display: flex;
    font-family: "Roboto", sans-serif;
}

.button-section svg {
    width: 25px;
    height: 25px;
    min-width: 25px;
    padding-left: 10px;
}

.top .watch,
.top .queue {
    padding: 10px 25px;
    border-radius: 8px;
}

.watch {
    color: white;
    display: flex;
    background-color: var(--red);
}

.queue {
    color: white;
    display: flex;
    background-color: var(--grey);
    margin-left: 30px;
}

.watch:hover {
    background-color: var(--red-selected);
    cursor: pointer;
}

.queue:hover {
    background-color: var(--grey-selected);
    cursor: pointer;
}




 .buttons{
	position:relative;
}

 .buttons a{
	position:relative;
	display:inline-block;
	margin-right:10px;
	background:#de0611;
	color: #fff;
	padding: 6px 20px;
	text-decoration:none;
	font-weight:500;
	letter-spacing:1px;
	text-transform:uppercase;
}

.buttons a:nth-child(2){
	background:rgba(0,0,0,0.5);
	border: 1px solid rgba(255,255,255,0.1);
}

.buttons a:hover:nth-child(2){
	background:#de0611;
}

.play{
    margin-top: 24px;
	bottom:50px;
	left:100px;
	display:inline-flex;
	justify-content:flex-start;
	align-items:center;
	color:#fff;
	text-transform:uppercase;
	font-weight:500;
	text-decoration:none;
	letter-spacing:1px;
	font-size:1.2em;
	cursor:pointer;
}

.play img{
	margin-right:10px;
	max-width:50px;
}

/********************           ************
********************  end top home***********/

/********************           ************
********************  start slider***********/
/* carousel */
.row h2
{
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5em;
    margin-left: 15px;
}

.row_poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row_poster:hover{
    transform: scale(1.3);
}
.row_poster a{
    position: relative;
    display: none;
    padding-left: 40%;
    top: -190px;
    padding-top: 50%;
    color: #fff;
   font-size:30px;
}
.row_poster:hover a{
    display: block;
    color: #fff;
}
/********____ style card______******/
.card__rating {
    display: inline-block;
    position: relative;
    padding: 1rem;
    margin-left: 3rem;
    color: #fff;
    border-radius: 50%;
    border: 3px solid #c62828;
  }
  .card__rating:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: -5px;
    left: 0;
    width: 50%;
    height: 20px;
    background:#292b2c;
  }
  
.rating {
    float: left;
    border:none;
  }
 
  .rating:not(:checked) > input {
      position:absolute;
      top:-9999px;
      clip:rect(0,0,0,0);
  }
  
  .rating:not(:checked) > label {
      float:right;
      width:1em;
      padding:0 .1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:122%;
      line-height:1.2;
      color:#ddd;
      text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
  }
  
  .rating:not(:checked) > label:before {
      content: '★ ';
  }
  
  .rating > input:checked ~ label {
      color: #f70;
      text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
      color: gold;
      text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
      color: #ea0;
      text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
  }
  
  .rating > label:active {
      position:relative;
      top:2px;
      left:2px;
  }
  /********____ style card______******/
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

 
  
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_posterLarge{
    max-height: 200px;
}
.row{
    color: antiquewhite;
    margin-left: 20px;
}
.banner{
    background-image: url("https://images.hdqwalls.com/download/lucifer-season-4-4k-tk-3840x2160.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    height: 448px;
    color: azure;
    margin-bottom: 2rem;
}
.banner_contents{
    margin-left: 30px;
    padding: 144px;
    height: 190px;
}
.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner_discription{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: .8rem;
    max-width: 360px;
    height: 180px;
    display: flex;
    flex-direction: column;
    
    
}
.banner_button{
    cursor: pointer;
    color: azure;
    outline: none;
    border: none;
    padding-top: .6rem;
    padding-bottom: .4rem;
    margin: .2rem;
    font-weight: 700;
    border-radius: 5px;

    background-color: rgba(51, 51, 51, .5);

}
.banner_button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.5s;
}
.nav_logo{
    width: 80px;
    object-fit: contain;
    cursor: pointer;

}
.nav_avatar{
    width: 30px;
    object-fit: contain;
    cursor: pointer;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;

}
.nav_black{
    background-color: #111;
}
a{
    color: azure;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    color: black;
    transition: all 0.5s;
}
/* End carousel */



/*start footer*/
.social-links .social-link {
    margin-right: 15px;
    color: #fff;
}
footer {
    padding: 2rem 20rem;
    justify-content: center;
    text-align: left;
    align-items: center;
  }

  .footer__row__2 {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .footer__row__1,
  .footer__row__3,
  .footer__row__4 {
    align-self: center;
  }
  footer {

    padding: 2rem 1rem;
    color: #757575;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer__row__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .footer__row__1 > h4 {
    font-size: 15px;
    font-weight: 500;
  }
  
  .footer__row__3 > .dropdown__container {
    width: fit-content;
    border: 1px solid #757575;
    color: #757575;
  }
  
  .footer__row__3 > .dropdown__container > .language__drop__down {
    color: #757575;
  }
  

